name: ML Pipeline - Iris Project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest tests/

      - name: Train model
        run: python src/train_model.py

      - name: Evaluate model
        run: python src/evaluate_model.py

      - name: Upload trained model
        uses: actions/upload-artifact@v4
        with:
          name: iris-trained-model
          path: models/iris_model.pkl
